@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mulish&family=Unica+One&display=swap");

@font-face {
  font-family: "clash-display-extralight";
  src: url("../src/assets/fonts/ClashDisplay-Extralight.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-light";
  src: url("../src/assets/fonts/ClashDisplay-Light.otf") format("opentype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-regular";
  src: url("../src/assets/fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-medium";
  src: url("../src/assets/fonts/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-semibold";
  src: url("../src/assets/fonts/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "clash-display-bold";
  src: url("../src/assets/fonts/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  /* background-color: red; */
  background-color: #150e28;
}
button {
  cursor: pointer;
}
.faqs {
  width: 100%;
  max-width: 768px;
  margin-top: 3rem;
}

.faqs .faq {
  border-bottom: 1px solid #d434fe;
  background: transparent;
  padding-bottom: 0.8rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 14px;
  padding-right: 80px;
  transition: all 0.4s ease;
  color: #fff;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: #d434fe;
  font-size: 26px;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  font-size: 14px;

  color: #fff;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
.faq:nth-child(1) {
}

/* .selectOut {
  height: 50px !important;
}
.selectInner {
  border: 1px solid red;
  height: 15px;
  background: transparent;
} */
.css-13cymwt-control {
  background-color: transparent !important;
  height: 50px !important;
  margin-bottom: 2rem;
}
.css-art2ul-ValueContainer2 {
  padding: 0 1.4rem !important;
}
.css-w9q2zk-Input2 {
  /* color: #fff !important; */
  margin: 0 !important;
  padding: 0 !important;
}
.css-1jqq78o-placeholder {
  color: #6b6b6b;
  font-size: 0.8rem;
}
.css-1u9des2-indicatorSeparator {
  opacity: 0 !important;
}
.css-1dimb5e-singleValue {
  color: #fff !important;
}
.css-t3ipsp-control {
  background-color: transparent !important;
  border-color: #fff !important;
  box-shadow: none !important;
}
